/*BIG TABLET TO 1200PX: width smaller than the 1140px) */
@media only screen and (max-width: 1200px) {

}

/*SMALL TABLET TO BIG TABLET: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

}


/*SMALL PHONES TO SMALL TABLETS: from 481px to 767px */
@media only screen and (max-width: 767px) {
    * {
        margin: 0;
    }
    .container {
        flex-direction: column;
    }

    .img-gallery {
        width: 100%;
    }
    
    .hero-text-box {
        
    }
}

/*
SMALL PHONES: from 0 to 480px
*/
@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
}

/*
RECOMMENDED BREAK POINTS
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

/* 4 Types of @media
all (or leave empty defaults to all) - for all screen sizes
screen - desktop, tablets, and cell phones
print - printers
speech - screen readers

(orientation: portrait)
(orientation: landscape)

*/